.product {
  padding: 2rem;
  background-color: var(--color-dark--1);
  min-height: 100vh;
}

.product section {
  container-type: inline-size;
}

.product .img-card {
  max-width: 95rem;
  margin: 6rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.product .img-right,
.product .img-left {
  padding: 2rem;
}

.product .img-right {
  order: -1;
}

@container (min-width: 730px){
  .product .img-right {
    order: 1;
  }
}

.product .text-block {
  padding: 0 3rem;
}

.product picture img {
  width: 100%;
}

.product h2 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product section a {
  margin-top: 2rem;
}

@media only screen and (min-width: 530px){
  .product {
    padding: 2.5rem 3rem;
  }

  .product h2 {
    font-size: 4rem;
  }

  .product p {
    font-size: 1.4rem;
  }
}
