/* CSS modules in React need to have the same naming convention on files - ComponentName.module.css */

/* With CSS modules need to target only by classes or id's (targeting via only element is considered bad practice) */
/* .nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
} */

/* Can make a CSS module declaration global using :global function and adding class name inside - can then just add class as a string value in JSX and will apply style rules - className="test" */
/* :global(.test) {
  background-color: red;
} */

/* Can use global function with React Router NavLinks to style active classes to show which links are currently active */
/* .nav :global(.active) {
  background-color: green;
} */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .nav-bBtn {
  display: block;
  padding-inline: 5px;
  cursor: pointer;
}

.nav .nav-bBtn span {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 2.5rem;
  margin-bottom: 0.5rem;
}

.nav .nav-mobile__na,
.nav .nav-mobile__a {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  transition: transform 0.8s ease-out;
  z-index: 9999;
}

.nav .nav-mobile__na {
  transform: translateX(-100%);
}

.nav .nav-mobile__a {
  transform: translateX(0);

}

.nav .nav-close__btn {
  position: absolute;
  top: 3rem;
  right: 1.5rem;
  height: 3.2rem;
  width: 3.2rem;
  cursor: pointer;
}

.nav .nav-close__btn span {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 3rem;
}

.nav .nav-close__btn span:first-child {
  transform: rotate(45deg) translate(1.1rem, 9px);
}

.nav .nav-close__btn span:last-child {
  transform: rotate(-45deg) translate(-7px, 9px);
}

.nav .nav-list {
  display: none;
  list-style: none;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  padding-inline: 4px;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
  font-size: 1.2rem;
}

@media only screen and (min-width: 690px){
  .nav .nav-mobile,
  .nav .nav-bBtn {
    display: none;
  }

  .nav .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-right: auto;
  }

  a.ctaLink:link,
  a.ctaLink:visited {
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 530px){
  .nav .nav-mobile__na,
  .nav .nav-mobile__a {
    width: 60%;
  }
}
