.user {
  padding: 5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user img {
  border-radius: 100px;
  height: 3.5rem;
}

.user .log-msg {
  display: none;
}

.user button {
  background-color: #000;
  border-radius: 7px;
  border: none;
  padding: 0.6rem 1.2rem;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (min-width: 690px){
  .user {
    padding: 1rem 1.4rem;
    gap: 1rem;
  }

  .user .log-msg {
    display: block;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 530px){
  .user img {
    height: 4rem;
  }
}
